@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1200px) {
    font-size: calc(100vw / 1200 * 16);
}

@font-face {
    font-family: "Gilda Display";
    src: url('./fonts/GildaDisplay-Regular.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url('./fonts/Montserrat/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url('./fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
}
